body {
  font-family: "Bebas Neue", cursive;
}

form {
  display: grid;
  margin-inline: 70px;
  width: 65%;
  gap: 1em;
  margin-top: 10%;
}

.form-felt {
  display: grid;
  gap: 5px;
}

.form-felt2 {
  align-self: center;
}
#mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 150px;
}

.glemt_kodeord {
  text-decoration: underline;
  color: grey;
  font-size: 12px;
}

.glemt_kodeord:hover {
  color: #e6536d;
}

.formGap {
  gap: 1em;
}

#email {
  padding: 10px;
}

.email {
  color: #e6536d;
}


#kodeord {
  padding: 10px;
}

.kodeord1 {
  color: #e6536d;
}

.h1_login {
  color: black;
}

.gæst {
  color: #e6536d;
}
.knap {
  background-color: #cabd96;
  color: black;
  font-family: "Bebas Neue", cursive;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: unset;
}

.knap:hover {
  color: #e6536d;
  background-color: white;
}

.body_form {
  background-color: #DDD4B9;
}
