main {
  background-color: var(--beige);
}

/* nav link i menuen */
.logo_overskrift {
  font-family: bebas Neue;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0.5cm;
}

/* den div der indeholder alle billeder */
.parent {
  position: relative;
  top: 0;
  left: -1em;
  width: 101.1%;
}

/* billeder og tekst på forsiden, stylet med position absolute og relative */
.image1 {
  position: relative;
  top: 0;
  left: 0;
}

.image5 {
  position: absolute;
  top: 10em;
  left: 28em;
  width: 35%;
}

.image6 {
  position: absolute;
  top: 50em;
  left: 7em;
  width: 82%;
}

.image7 {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
}

.image8 {
  position: absolute;
  top: 50em;
  left: 0em;
  width: 100%;
}

.image9 {
  position: absolute;
  top: 60em;
  left: 10em;
  width: 20%;
}
.h1_index {
  position: absolute;
  top: 18em;
  left: 9em;
  font-size: 60px;
  font-family: bebas neue;
  letter-spacing: 0.4cm;
}

.h2_index {
  position: absolute;
  top: 38.5em;
  left: 18em;
  font-size: 30px;
  font-family: "Prompt", sans-serif;
}

.image10 {
  position: absolute;
  top: 105em;
  left: 45em;
  width: 23%;
}

.image11 {
  position: absolute;
  top: 90em;
  left: 0em;
  width: 100%;
}

.h1_index2 {
  position: absolute;
  top: 43em;
  left: 11em;
  font-size: 35px;
  font-family: bebas neue;
  letter-spacing: 0.1cm;
}

.image12 {
  position: absolute;
  top: 105em;
  left: 60em;
  width: 18%;
}

.image13 {
  position: absolute;
  top: 140em;
  left: 0em;
  width: 100%;
}

/* link til produktliseten */

.link_index {
  position: absolute;
  top: 46em;
  left: 20.7em;
  font-size: 40px;
  font-family: bebas neue;
  text-decoration: underline;
}

.button {
  color: #ffffff;
  background-color: #e6536d;
  border: none;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  font-family: "bebas neue";
  text-align: center;
  width: 20%;
  position: absolute;
  top: 35em;
  left: 36em;
}
.button:active {
  background-color: white;
  box-shadow: 5px 5px 5px;
  transform: translateY(4px);
}

.button:hover {
  color: #e6536d;
  background-color: white;
}

/* responsivt design */

@media (max-width: 600px) {
  .logo_overskrift {
    font-family: bebas Neue;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5cm;
  }

  .parent {
    position: relative;
    top: 0;
    left: -1em;
    width: 103.3%;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }

  .image5 {
    position: absolute;
    top: 3em;
    left: 6em;
    width: 55%;
  }

  .image6 {
    display: none;
  }

  .image7 {
    position: absolute;
    top: 3em;
    left: 0em;
  }

  .image8 {
    position: absolute;
    top: 20em;
    left: 0em;
  }

  .image9 {
    position: absolute;
    top: 17em;
    left: 2em;
    width: 30%;
  }
  .h1_index {
    position: absolute;
    top: 17em;
    left: 6.8em;
    font-size: 20px;
    font-family: bebas neue;
    letter-spacing: 0.1cm;
  }

  .h2_index {
    position: absolute;
    top: 21.3em;
    left: 8em;
    font-size: 17px;
    font-family: "Prompt", sans-serif;
  }

  .image10 {
    position: absolute;
    top: 30em;
    left: 12em;
    width: 23%;
  }

  .image11 {
    position: absolute;
    top: 30em;
    left: 0em;
  }

  .h1_index2 {
    position: absolute;
    top: 25em;
    left: 3em;
    font-size: 20px;
    font-family: bebas neue;
    letter-spacing: 0.1cm;
    width: 95px;
  }

  .image12 {
    position: absolute;
    top: 28em;
    left: 16em;
    width: 28%;
  }

  .image13 {
    position: absolute;
    top: 40em;
    left: 0em;
    width: 100%;
  }

  .link_index {
    position: absolute;
    top: 29em;
    left: 11.8em;
    font-size: 18px;
    font-family: bebas neue;
    text-decoration: underline;
  }

  .button {
    display: none;
  }
}

footer {
  background-color: var(--beige);
}
