* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #3a3a3a;
  --beige: #f5eedc;
}

body {
  margin: 2rem;
  background-color: var(--beige);
}

html {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article {
  background: rgb(228, 197, 156);

  font-family: "Heebo", sans-serif;
  margin-bottom: 1rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
  color: black;
}

a {
  transition: color 0.3s ease-in-out;
}

/************************************************* Tekst *************************************************/

h2 {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  white-space: nowrap;
  letter-spacing: 1px;
}

p {
  padding-bottom: 1rem;
  color: var(--grey);
}

/************************************************* Classes *************************************************/

.beskrivelse {
  padding-bottom: 2rem;
}

.card {
  padding: 0.5rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  width: fit-content;
  margin-bottom: 1rem;
  border: 1px solid var(--grey);
  font-size: 0.7rem;
  border-radius: 8px;
  padding: 0.25rem;
  font-style: italic;
}

#knap {
  padding: 0.5rem;
  width: fit-content;
  background-color: #f5e4bb;
  font-size: 0.7rem;
  width: 100%;
  text-align: center;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
}

/************************************************* Media *************************************************/

@media (min-width: 600px) {
  /* grids */
  .liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .beskrivelse {
    font-size: 0.8rem;
  }
  article {
    height: 100%;
  }
}
