.bigProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bigProductPicture {
  width: 60%;
  display: block;
  padding: 0px;
  padding-left: 70px;
  margin-left: 214px;
}

.bigProductText {
  padding-top: 130px;
  margin-left: 30px;
}
