* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #3a3a3a;
  --beige: #ddd4b9;
}

body {
  margin: 2rem;
  background-color: var(--beige);
}

html {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Heebo", sans-serif;
  margin-top: 2rem;
}

h3 {
  font-family: "Heebo", sans-serif;
  font-size: x-large;
}

p {
  font-family: "Heebo", sans-serif;
}
.tilbageKnap {
  margin-top: 1rem;
}

/********* Produktet ********/
.bigProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bigProductPicture {
  width: 60%;
  display: block;
  padding: 0px;
  padding-left: 70px;
  margin-left: 214px;
}

.bigProductText {
  padding-top: 130px;
  margin-left: 30px;
}
