* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 2rem;
}

body {
  background-color: #ddd4b9;
}

html {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "Bebas Neue", cursive;
  margin-top: 2rem;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: x-large;
  padding: 20px;
}

p {
  font-family: "Heebo", sans-serif;
  padding: 20px;
}

li {
  font-family: "Heebo", sans-serif;
  list-style-type: none;
  padding-left: 10px;
}
.tilbageKnap {
  font-family: "Bebas Neue", cursive;
  padding: 20px;
}

.overskrift_produkt {
  text-align: center;
}

/********* Produktet ********/
.bigProduct {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 3rem;
}
.bigProductPicture {
  width: 100%;
  display: block;
  padding: 0px;
  padding-left: 40px;
}

.bigProductText {
  margin-left: 40px;
  padding-right: 40px;
}

.card2 {
  background: #cabd96;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*********** mobile version **********/
@media (max-width: 600px) {
  img {
    padding: 10px;
  }
  .overskrift_produkt {
    justify-content: center;
  }

  .bigProduct {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  #billede {
    position: absolute;
    top: 10em;
    left: 2em;
    width: 81%;
  }

  .card2 {
    position: absolute;
    top: 25em;
    left: -1em;
    width: 87%;
    bottom: -6em;
  }
}
